====
    COPYRIGHT Ericsson 2023



    The copyright to the computer program(s) herein is the property of

    Ericsson Inc. The programs may be used and/or copied only with written

    permission from Ericsson Inc. or in accordance with the terms and

    conditions stipulated in the agreement/contract under which the

    program(s) have been supplied.
====

jsonschema==3.2.0
pytest==5.1.1
pyjwt==2.1.0
requests==2.23.0
pytest-xdist==1.31.0